@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  color: #292f36;
  background-color: white;
}

a{
  text-decoration: none;
}

/* MAIN COLORS */

.pri-color{
  color: #0C70F2;
}

.pri-background{
  color: #0C70F2;
}

.sec-color{
  color: #1D1D1D;
}

.sec-background{
  color: #1D1D1D;
}

.ter-color{
  color: #F6F6F6;
}

.ter-background{
  color: #F6F6F6;
}

/* GRID */

.container{
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  position: relative;
  padding: 0 30px;
}

.al-center{
  align-items: center;
}

.al-end{
  align-items: end;
}

.d-flex{
  display: flex;
}

.fd-column{
  flex-direction: column;
}

.jc-center{
  justify-content: center;
}

.jc-end{
  justify-content: end;
}

.jc-space-bet{
  justify-content: space-between;
}

@media (max-width: 768px){
  .container{
    width: 90%;
  }
  .mobile-fd-column{
    flex-direction: column;
  }
}


